# ---------- General ------------
LOGGING_LEVEL="debug"
BACKEND_URL="http://backend:3000"

# ---------- Database -----------
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="inithub"
DATABASE_URL="postgresql://postgres:postgres@inithub-postgres:5432/inithub?schema=public"

# ---------- Backend ------------
BACKEND_PORT="3000"

# ---------- LLM Services -------
# You can use either OpenAI or OpenRouter for LLM services.
OPENAI_API_KEY="your_api_key_here"
OPENAI_MODEL_NAME="gpt-4.1-2025-04-14"

# OPENROUTER_API_KEY="your_api_key_here"
# OPENROUTER_MODELS_LIST="openai/gpt-4.1,anthropic/claude-3-haiku"
# OPENROUTER_ENDPOINT="https://openrouter.ai/api/v1"

# ---------- Agent --------------
AGENT_PORT="8000"
AGENT_MODEL_TEMPERATURE="0.3"

ENABLE_GOOGLE_SHEETS="false"
GOOGLE_SHEET_ID="your_google_sheet_id_here"
